/* FOR ALL PAGE */

* {
  font-family: futura-pt, Arial, Helvetica, sans-serif;
  padding: auto;
  margin: auto;
  box-sizing: border-box;
}

body {
  background-color: white;
  overflow-x: hidden;
}

/* NAVBAR START */

#logo {
  margin-left: 215px;
}

.navbar {
  background-color: white;
  height: 200px;
}

.nav-link {
  color: #a3a3a3;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: futura-pt;
  font-size: 30px;
  font-style: bold;
  font-weight: 500;
  line-height: 20px; /* 50% */
  letter-spacing: 0.13px;
}

.navbar-nav {
  margin-right: 215px;
  gap: 80px;
}
.nav-link:hover {
  color: #e0a5ff;
}

.nav-link-active {
  color: #b11dff;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: futura-pt;
  font-size: 30px;
  font-style: bold;
  font-weight: 500;
  line-height: 20px; /* 50% */
  letter-spacing: 0.13px;
}

/* NAVBAR END */

/* HEADER START */

.barra {
  width: 96px;
  height: 188.16px;
  flex-shrink: 0;
  padding-top: 16px;
}

#header {
  margin-right: 215px;
  margin-top: 64px;
}

.headercol {
  margin-top: 64px;
}

#header-text {
  text-align: start;
  padding-left: 16px;
  margin-left: 16px;
  font-family: futura-pt-bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 109.375% */
  text-align: left;
}

#ponto {
  color: #b11dff;
}

#first-btn {
  text-align: start;
  padding-right: 390px;
  padding-left: 32px;
  padding-top: 40px;
  font-family: futura-pt;
  position: absolute;
}

.btn:link,
.btn:visited {
  font-family: futura-pt;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  border-radius: 64px;
  transition: all 0.2s;
  font-size: x-large;
  background-color: #b11dff;
  color: #fff;
  text-align: center;
  display: inline-flex;
  height: 64px;
  padding: 32px 64px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.btn:hover {
  background-color: #e0a5ff;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #b11dff;
  color: #ffff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #b11dff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* HEADER END */

/* FIRST SECTION START */

.card-body-one {
  width: 448px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #b11dff;
  box-shadow: 0px 0px 16px 8px rgba(193, 74, 255, 0.2);
  margin-top: 150px;
}

.card-title-one {
  font-family: futura-pt-bold;
  color: white;
  font-feature-settings: "ss07" on, "ss05" on, "ss01" on, "clig" off, "liga" off;
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
  line-height: 52px; /* 40.625% */
  padding: 32px 0px 16px 32px;
}

.card-text-one {
  font-family: futura-pt;
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
  font-weight: 450;
  line-height: 32px; /* 100% */
  letter-spacing: -0.45px;
  color: white;
  font-size: 32px;
  text-align: left;
  padding-left: 30px;
}

.card-icon-one {
  width: 80px;
  margin-left: 100px;
}

.card-one {
  margin-right: 215px;
}

/* FIRST SECTION END */

/* SECOND SECTION START */

#nao_espere {
  margin-top: 64px;
  margin-left: 200px;
  font-family: futura-pt-bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.naoesperemargem {
  margin-top: 128px;
  margin-bottom: 128px;
}

#card-body-two {
  margin-top: 150px;
  margin-right: 200px;
}

#card-title-two {
  text-align: right;
  font-size: 70.079px;
  font-weight: 700;
  line-height: 80px;
}

#card-text-two {
  margin-top: 32px;
  text-align: left;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: #757575;
}

#second-btn {
  position: absolute;
  font-family: futura-pt;
  margin-right: 232px;
  margin-top: 64px;
  justify-content: left;
}

/* SECOND SECTION END */

/* THIRD SECTION START */

#section_three {
  margin-top: 50px;
}

#rectangle {
  margin-left: 70px;
}

.rectangle {
  background-color: #b11dff;
  padding: 32px;
  margin: 0px 64px 0px 64px;
  border-radius: 32px;
}

#card-title-three {
  margin-top: 128px;
  color: #fff;
  font-family: futura-pt-bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 100% */
  text-align: left;
  justify-content: center;
}

.title-three-pad {
  padding: 32px;
}

#card-text-three {
  margin-top: 32px;
  color: #f1d8ff;
  font-family: futura-pt;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  text-align: left;
}

#ponto1 {
  color: #e0a5ff;
}

#cellphone {
  margin-top: 20px;
  padding-right: 100px;
}

/* THIRD SECTION END */

/* FOURTH SECTION START */

.section-fourth-title {
  margin-top: 128px;
  font-family: futura-pt-BOLD;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.section-fourth-text {
  color: #757575;
  margin-top: 32px;
  font-family: futura-pt;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

#third-btn {
  margin-top: 64px;
  justify-content: center;
  margin-bottom: 128px;
}

/* FOURTH SECTION END */

/* FOOTER START */

.footer {
  margin-top: 200px;
  background-color: #f2f2f2;
  color: #191919;
  font-family: futura-pt;
  font-size: 16px;
  font-weight: 400;
}

.footer-title {
  color: #b11dff;
  font-family: futura-pt;
  font-size: 16px;
  font-weight: 500;
}

.direitos {
  color: #e0a5ff;
  font-family: futura-pt;
  font-size: 16px;
  font-weight: 500;
}

.diagonal {
  color: #fff;
  text-decoration: none;
}

.copyright {
  background-color: #191919;
}
